<div id="indicators-carousel" class="relative w-full bg-green-600 sm:h-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-lg md:h-[40rem] sm:h-full">
        <!-- Item 1 -->
        <div class="hidden bg-gradient-to-b from-green-700 via-green-400 to-green-800 ease-in-out" data-carousel-item="active">
            <div class="grid grid-cols-2 gap-5">
                <div class="flex flex-col items-center justify-content-center content-center place-content-center">
                    <h3 class="font-extrabold lobster bg-slate-200 px-1 py-2 rounded-2xl text-3xl">
                        Te de Matcha
                    </h3>
                    <div class="bg-white py-2 rounded-3xl mt-12 ml-8 px-2">
                        <p class="ml-8 mt-5 text-lg text-black">
                            Adéntrate en el equilibrio perfecto entre energía renovada y un sabor embriagador con nuestro Zen Delight Matcha Fusion de Starbucks. Este té de matcha exquisitamente elaborado es mucho más que una simple bebida; es una experiencia sensorial que transporta tus sentidos a un estado de armonía y deleite.
                        </p>
                    </div>
                </div>

                <div class="flex place-content-center">
                    <div class="col-span-5 w-60 h-96 flex flex-col justify-center items-center">
                        <img class="place-content-center" src="../../../assets/img/img1.png">
                    </div>
                </div>
            </div>
            <div
            class="fixed right-3 top-1/2 transform -translate-y-1/2 w-12 text-gray-900 bg-transparent border border-green-500 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <a type="a" target="_blank"
                href="https://www.facebook.com/StarbucksColombia/?locale=es_LA" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                <img class="ml-2" src="../../../assets/img/facebook.png" alt="" srcset="">
                
            </a>
            <a type="a" target="_blank"
                href="https://www.instagram.com/starbuckscol/?hl=es" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                <img src="../../../assets/img/instagram.png" alt="" srcset="">
                
            </a>
            <a type="a" target="_blank"
                 href="https://twitter.com/Starbucks" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                <img src="../../../assets/img/twitter.png" alt="" srcset="">
                
            </a>
        </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden bg-gradient-to-b from-pink-300 via-white to-pink-300 ease-in-out" data-carousel-item>
            <div class="grid grid-cols-2 gap-5 ">
                <div class="flex flex-col items-center justify-content-center content-center place-content-center">
                    <h3 class="font-extrabold lobster bg-slate-200 px-1 py-2 rounded-2xl text-3xl">
                        VainillaFresa Extremo
                    </h3>
                    <div class="bg-white py-2 rounded-3xl mt-12 ml-8 px-2">
                        <p class="ml-8 mt-5 text-lg text-black"> Sumérgete en la riqueza del chocolate con nuestra malteada de
                            Chocolate Extremo. Un torbellino de chocolate indulgente se fusiona con nuestra mezcla especial
                            de helado para ofrecerte una experiencia decadente y satisfactoria. Ideal para los amantes del
                            chocolate, esta malteada de Starbucks te transportará a un mundo de placer puro.</p>
                    </div>
                </div>

                <div class="flex place-content-center">
                    <div class="justify-center">
                        <div class="w-60 h-96">
                            <img src="../../../assets/img/img2.png">
                        </div>
                    </div>
                </div>
                <div
                    class="fixed right-3 top-1/2 transform -translate-y-1/2 w-12 text-gray-900 bg-transparent border border-green-500 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <a type="a" target="_blank"
                        href="https://www.facebook.com/StarbucksColombia/?locale=es_LA" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <img class="ml-2" src="../../../assets/img/facebook.png" alt="" srcset="">

                    </a>
                    <a type="a" target="_blank"
                        href="https://www.instagram.com/starbuckscol/?hl=es" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <img src="../../../assets/img/instagram.png" alt="" srcset="">

                    </a>
                    <a type="a" target="_blank"
                         href="https://twitter.com/Starbucks" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                        <img src="../../../assets/img/twitter.png" alt="" srcset="">

                    </a>
                </div>
            </div>
            <div
                class="fixed right-3 top-1/2 transform -translate-y-1/2 w-12 text-gray-900 bg-transparent border border-green-500 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <a type="a" target="_blank"
                    href="https://www.facebook.com/StarbucksColombia/?locale=es_LA" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <img class="ml-2" src="../../../assets/img/facebook.png" alt="" srcset="">

                </a>
                <a type="a" target="_blank"
                    href="https://www.instagram.com/starbuckscol/?hl=es" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <img src="../../../assets/img/instagram.png" alt="" srcset="">

                </a>
                <a type="a" target="_blank"
                     href="https://twitter.com/Starbucks" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <img src="../../../assets/img/twitter.png" alt="" srcset="">

                </a>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden  ease-in-out bg-gradient-to-b from-purple-600 via-purple-300 to-purple-600" data-carousel-item="active">
            <div class="grid grid-cols-2 gap-5">
                <div class="flex flex-col items-center justify-content-center content-center place-content-center">
                    <h3 class="font-extrabold lobster bg-slate-200 px-1 py-2 rounded-2xl text-3xl">
                        Fresa Delicia Suprema
                    </h3>
                    <div class="bg-white py-2 rounded-3xl mt-12 ml-8 px-2">
                        <p class="ml-8 mt-5 text-lg text-black">Experimenta la frescura en cada sorbo con nuestra malteada de fresa
                            suprema. Jugosas fresas se combinan con nuestra cremosa base de helado para crear una deliciosa
                            explosión de sabor. La Fresa Delicia Suprema de Starbucks es la elección perfecta para aquellos
                            que buscan una malteada refrescante y llena de energía.</p>
                    </div>
                </div>


                <div class="flex place-content-center">
                    <div class="col-span-5 w-60 h-96 flex flex-col justify-center items-center">
                        <img class="place-content-center -rotate-12" src="../../../assets/img/img3.png">
                    </div>
                </div>

            </div>

            <div
                class="fixed right-3 top-1/2 transform -translate-y-1/2 w-12 text-gray-900 bg-transparent border border-green-500 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <a type="a" target="_blank"
                    href="https://www.facebook.com/StarbucksColombia/?locale=es_LA" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <img class="ml-2" src="../../../assets/img/facebook.png" alt="" srcset="">

                </a>
                <a type="a" target="_blank"
                    href="https://www.instagram.com/starbuckscol/?hl=es" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <img src="../../../assets/img/instagram.png" alt="" srcset="">

                </a>
                <a type="a" target="_blank"
                     href="https://twitter.com/Starbucks" class="relative inline-flex items-center hover:bg-green-600 w-full px-1 py-2 text-sm font-medium border-b border-green-500 hover:border-white hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <img src="../../../assets/img/twitter.png" alt="" srcset="">

                </a>
            </div>
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
        <a type="a" target="_blank" class="w-20 h-30 hover:scale-110 rounded-full" aria-current="true" aria-label="Slide 1"
            data-carousel-slide-to="0"><img src="../../../assets/img/img1.png" alt=""></a>
        <a type="a" target="_blank" class="w-20 h-30 hover:scale-110 rounded-full" aria-current="false" aria-label="Slide 2"
            data-carousel-slide-to="1"><img src="../../../assets/img/img2.png" alt=""></a>
        <a type="a" target="_blank" class="w-20 h-30 hover:scale-110 rounded-full" aria-current="false" aria-label="Slide 3"
            data-carousel-slide-to="2"><img class=" -rotate-12" src="../../../assets/img/img3.png" alt=""></a>
    </div>
    <!-- Slider controls -->
</div>